h1{
    color:red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    font-style: italic;
}

img{
    height: 5 cm;
    width: 100px;
    
}

p{
    font-size: 50pt;
}